.banner{
    height: 340px;
    background-color: #D5D5D5;
}

.banner-core{
    width: 960px;
    padding-top: 0px;
}



.about-wrap{
    height: 1757px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.about{
    margin-top: 60px;
    width: 950px;
    height: 1560px;
    border: 1px solid #000;
}
