.banner{
    height: 340px;
    background-color: #D5D5D5;
}

.banner-core{
    width: 960px;
    padding-top: 0px;
}



.about-wrap{
    height: 1757px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.about{
    margin-top: 60px;
    width: 950px;
    height: 1560px;
    border: 1px solid #000;
}


.about-wrap > p{
    width: 960px;
    margin: 0 auto;
}

.about-wrap .item{
    width: 960px;
    margin: 10px auto;
    overflow: hidden;
    zoom: 1;
}

.bg1{
    background-color: #004B8B;
}

.bg2{
    background-color: #666666;
}

.about-wrap .item span{
    display: block;
    width: 20px;
    height: 20px;
    color: white;

    float: left;
    text-align: center;
    margin-right: 5px;
    border-radius: 100px;
    /*line-height: 20;*/
}

.about-wrap .item p{
    float: left;
    width: 900px;
}

b{
    color: #00659C;
}