.banner{
    height: 340px;
    background-color: #D5D5D5;
}

.banner-core{
    width: 960px;
    padding-top: 0;
}

.case-wrap{
    height: 1515px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.case{
    margin-top: 60px;
    width: 950px;
    height: 835px;
    border: 1px solid #000;
}

.sign-up{
    margin-top: 60px;
    width: 950px;
    height: 530px;
    /*border: 1px solid #000;*/
}

.title{
    position: relative;
}

.title p:after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #004B8B;
    position: absolute;
    left: 0;
    bottom: 0;

}

.text1,.text2{
    width: 960px;
    margin: 15px auto;
    font-size: 14px;
    line-height: 30px;
}

.text1{
    color: #999;
}

.content .item {
    width: calc(100% / 4 - 8px);
    height: 270px;
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
    background-color: #00659C;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
}

.content .item:nth-child(4n){
    margin-right: 0;
}

.content {
    width: 960px;
    height: 545px;
    margin: 0 auto;
}