.banner{
    height: 340px;
    background-color: #D5D5D5;
}

.banner-core{
    width: 960px;
    padding-top: 0;
}

.case-wrap{
    height: 1515px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.case{
    margin-top: 60px;
    width: 950px;
    height: 835px;
    border: 1px solid #000;
}

.sign-up{
    margin-top: 60px;
    width: 950px;
    height: 530px;
    border: 1px solid #000;
}

.title{
    position: relative;
}

.title p:after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #004B8B;
    position: absolute;
    left: 0;
    bottom: 0;

}