.over{
    overflow: hidden;
    zoom: 1;
}

.sub-banner-warp{
    height: 270px;
    background-color: #F6F6F6;
    position: relative;
}

.sub-banner{
    height: 250px;
    width: 1070px;

    margin: 0 auto;
    position: absolute;
    top: -25px;
    left: 21%;

    overflow: hidden;
    zoom: 1;
}


/*      sub-banner start        */

.sub-banner .item{
    float: left;
    border: 1px solid white;
    height: 253px;
    width: 213px;
    margin-right: 35px;
}

.sub-banner .item .top{
    width: 215px;
    height: 160px;
    background-color: #006EAA;
    position: relative;
}
.sub-banner .item .top .img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 40%;
}
.sub-banner .item .top .img img{
    width: 50px;
    height: 50px;
}
.sub-banner .item .bottom{
    height: 90px;
    text-align: center;
    padding: 25px 0 25px;
    background-color: white;
}
.sub-banner .item .bottom p{
    font-weight: bold;
    font-size: 20px;

}
.sub-banner .item .bottom span{
    color: #666666;
}

/*      sub-banner end        */

.introduction{
    height: 250px;
    width: 960px;
    background-color: white;
    margin: 50px auto 0;
    /*border: 1px solid #000;*/
}

.top h1{
    display: inline;
    color: #004B8B;
}

.top span{
    color: #999;
}

.middle{
    margin-top: 30px;
}

.middle span{
    font-size: 14px;
    color: #666;
}

/*      .introduction  start      */
.introduction .bottom .item{
    margin-top: 22px;
    width: 300px;
    height: 130px;
    float: left;
    border: 1px solid #666666;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.introduction  .bottom .item p {
    line-height: 35px;
    color: white;
    height: 60px;
    background-color: #00659C;
}

.introduction .bottom .item p b {
    margin-left: 25px;
    display: block;
    height: 20px;
    font-weight: bold;
}

.introduction .bottom .item p span {
    margin-left: 25px;
}

.introduction .bottom .item > span {
    float: left;
    margin: 18px 25px 0;
    height: 70px;
    /*line-height: 70;*/
    display: block;
    color: #666666;
    /*background-color: white;*/
}


.introduction-warp{
    height: 375px;
    background-color: #ffffff;
}

/*      .introduction end       */

/*      service start   */

.service-warp{
    height: 100px;
    background-color: #006EAA;
}

.service{
    width: 955px;
    margin: 0 auto;
}
.service .left p{
    line-height: 100px;
    color: white;
    font-size: 20px;
    width: 250px;
    float: left;
}

.service .right p{
    width: 190px;
    border: 1px solid #fff;
    /*margin-top: 25px;*/
    color: white;
    float: right;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    /*padding: 0 25px;*/
    /*margin-right: 50px;*/
}

.service .right strong{
    display: block;
    font-size: 14px;
}

.service .right b{
    color: #FFB527;
    font-size: 30px;
}

.service .right span{
    font-size: 16px;
}

/*      service end   */

/*      case start      */
.case-wrap{
    height: 475px;
    background-color: white;
    /*border: 1px solid #E7E7E7;*/
}

.case{
    width: 955px;
    height: 360px;
    /*border: 1px solid #000;*/
    margin-top: 65px;
}

.case > p{
    font-size: 20px;
    font-weight: bold;
    color: #004B8B;
    display: inline;
}

.case > span{
    font-size: 18px;
    color: #666666;
}


.case .bottom .item{
    margin-top: 22px;
    width: 295px;
    height: 315px;
    float: left;
    /*border: 1px solid #666666;*/
}

.case .bottom .item{
    margin-right: 21px;
}
.case .bottom .item .img{}
.case .bottom .item p{
    margin-top: 20px;
}
.case .bottom .item span{
    margin-top: 10px;
    display: block;
    color: #666666;
    font-size: 12px;
}


/*      case end      */

.news-wrap{
    height: 760px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.news{
    margin-top: 60px;
    width: 950px;
    height: 375px;
    /*border: 1px solid #000;*/
}

.news > p{
    font-size: 20px;
    font-weight: bold;
    color: #004B8B;
    display: inline;
}
.news > span{
    font-size: 18px;
    color: #666666;
}

.news .top{
    /*height: 375px;*/
    width: 950px;
}
.news .top .left{
    float: left;
    height: 575px;
    margin-top: 35px;
    /*border: 1px solid #000;*/
}

.news .top .left .item{
    border-bottom: 1px dotted #666666;
    width: 550px;
    height: 115px;
}

.news .top .left .item .img{
    float: left;
    margin-top: 20px;
}
.news .top .left .item .item-right{
    float: right;
    width: 430px;
    margin-top: 30px;
}

.news .top .left .item span{
    display: block;
    font-size: 12px;
}

.news .top .right{
    float: right;
    width: 375px;
    height: 315px;
    margin-top: 60px;
}
.news .bottom{



}

/*      news end*/

.customers{
    margin-top: 60px;
    width: 950px;
    height: 185px;
    border: 1px solid #000;
}