.partners-wrap{
    height: 2610px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.partners{
    margin-top: 60px;
    width: 950px;
    height: 2485px;
    border: 1px solid #000;
}
