.products-wrap{
    height: 1550px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.products{
    margin-top: 60px;
    width: 950px;
    height: 835px;
    /*border: 1px solid #000;*/
}


.products .title p{
    font-size: 28px;
    font-weight: bold;
    color: #004B8B;
    display: inline;
    /*border: 1px solid #000;*/
}
.products .title span{
    font-size: 16px;
    color: #666666;
    margin-left: 15px;
    line-height: 60px;
    /*border: 1px solid #000;*/
}

.products .title b{
    font-size: 12px;
    color: #666666;
    float: right;
    line-height: 50px;
    /*border: 1px solid #000;*/
}

.products span{
    font-size: 14px;
}

.products .row2{
    width: 580px;
}

.products .item{
    margin-top: 10px;
    width: 580px;
    height: 20px;
}

.products .row2 p{
    width: 77px;
    height: 20px;
    background-color: #00659C;
    color: white;
    font-size: 12px;
    padding-left: 5px;
    line-height: 20px;
    float: left;
}

.products .row2 span{
    float: left;
    margin-left: 15px;
}
    /**********************************************************/

.products .top{
    margin-top: 30px;
}

.products .top .left{
    float: left;
    width: 160px;
    height: 190px;
    border: 1px solid #666666;
    position: relative;
}

.products .top .center{
    float: left;
    width: 370px;
    height: 190px;
    border: 1px solid #666666;
    margin-inline: 22px;
    position: relative;
}
.products .top .right{
    float: left;
    width: 370px;
    height: 190px;
    border: 1px solid #666666;
    position: relative;
}

.products .top .item{
    position: absolute;
    left: 25px;
    top: 70%;
    float: left;
    width: 100px;
    height: 30px;
    border: 1px solid #666666;
    text-align: center;
}


    /***************************/

.products .mid{
    margin-top: 30px;
}

.products .mid .left{
    float: left;
    width: 465px;
    height: 190px;
    border: 1px solid #666666;
    margin-right: 16px;
    position: relative;
}

.products .mid .right{
    float: left;
    width: 465px;
    height: 190px;
    border: 1px solid #666666;
    position: relative;
}

.products .mid .item{
    position: absolute;
    left: 25px;
    top: 70%;
    float: left;
    width: 100px;
    height: 30px;
    border: 1px solid #666666;
    text-align: center;
}

/*********************************************/

.products .bottom {
    margin-top: 25px;
    float: left;
    width: 955px;
    height: 187px;
    border: 1px solid #666666;
    position: relative;
}


.products .bottom .item{
    position: absolute;
    left: 25px;
    top: 70%;
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;;
    border: 1px solid #666666;
    text-align: center;
}

.content-box p{
    margin: 20px 0 0  20px;
    font-size: 18px;
    font-weight: bold;
}

.content-box p{
    margin: 20px 0 0  20px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.content-box span{
    margin: 10px 0 0  20px;
    display: block;
    float: left;
}

.content-box .item{
    font-size: 14px;
    line-height: 30px;
}

.content-box p::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #004B8B;

}

/**********************************************************/

.enquire{
    margin-top: 60px;
    width: 950px;
    height: 530px;
    /*border: 1px solid #000;*/
}

.enquire p{
    font-size: 28px;
    font-weight: bold;
    color: #004B8B;
}

.enquire .content{
    margin-top: 22px;
    border: 1px solid #000;
    height: 480px;
    width: 950px;
}


.enquire .content .left{
    /*border: 1px solid #000;*/
    width: 455px;
    height: 390px;
    margin-left: 40px;
    margin-top: 50px;
}

.enquire .content .item{
    margin-bottom: 25px;
    float: left;
    width: 340px;
    height: 30px;
}

.enquire .content .area{
    float: left;

}

.enquire .content span{
    float: left;
}

.enquire .content .but {
    float: left;
    margin-top: 25px;
    margin-left: 90px;
    width: 105px;
    height: 40px;
    background-color: #00659C;
    color: white;
    font-size: 20px;

}

.enquire .content input{
    width: 255px;
    height: 30px;
    margin-left: 15px;
}

.enquire .content .area span{
    margin-right: 15px;
}