.products-wrap{
    height: 1550px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.products{
    margin-top: 60px;
    width: 950px;
    height: 835px;
    border: 1px solid #000;
}

.enquire{
    margin-top: 60px;
    width: 950px;
    height: 530px;
    /*border: 1px solid #000;*/
}

.enquire p{
    font-size: 28px;
    font-weight: bold;
    color: #004B8B;
}

.enquire .content{
    margin-top: 22px;
    border: 1px solid #000;
    height: 480px;
    width: 950px;
}


.enquire .content .left{
    /*border: 1px solid #000;*/
    width: 455px;
    height: 390px;
    margin-left: 40px;
    margin-top: 50px;
}

.enquire .content .item{
    margin-bottom: 25px;
    float: left;
    width: 340px;
    height: 30px;
}

.enquire .content .area{
    float: left;

}

.enquire .content span{
    float: left;
}

.enquire .content .but {
    float: left;
    margin-top: 25px;
    margin-left: 90px;
    width: 105px;
    height: 40px;
    background-color: #00659C;
    color: white;
    font-size: 20px;

}

.enquire .content input{
    width: 255px;
    height: 30px;
    margin-left: 15px;
}

.enquire .content .area span{
    margin-right: 15px;
}