.banner{
    height: 340px;
    background-color: #D5D5D5;
}

.banner-core{
    width: 960px;
    padding-top: 0px;
}

.report-wrap{
    height: 760px;
    background-color: white;
    border: 1px solid #E7E7E7;
}

.report{
    margin-top: 30px;
    height: 625px;
    width: 960px;
    /*border: 1px solid #000;*/
}

 .input-boxes{
     width: 960px;
     height: 545px;
     /*border: 1px solid #000;*/
     margin: 0 auto;
     overflow: hidden;
     zoom: 1;
 }

 .item{
     width: calc(100% / 4 - 8px);
     height: 270px;
     /*border: 1px solid #000;*/
     float: left;
     margin-right: 8px;
     margin-bottom: 10px;
     background-color: #00659C;
     position: relative;
     overflow:hidden
 }

 .item:nth-child(4n){
     margin-right: 0;
 }

.shade{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 225px;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.shade p{
    font-weight: bold;
    margin: 15px auto;
    font-size: 12px;
    text-align: center;
}

.click{
    border: 1px solid #999;
    width: 120px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin: 15px auto;
}
