.title{
    width: 960px;
    margin: 10px auto 0;
}

.title p{
    font-size: 28px;
    font-weight: bold;
    color: #004B8B;
    display: inline;
    /*border: 1px solid #000;*/
}
.title span{
    font-size: 16px;
    color: #666666;
    margin-left: 15px;
    line-height: 60px;
    /*border: 1px solid #000;*/
}

.title b{
    font-size: 12px;
    color: #666666;
    float: right;
    line-height: 50px;
    /*border: 1px solid #000;*/
}